<a href="https://colab.research.google.com/github/asolovey83/HomeExpenses/blob/master/GDP_and_Covid_Vaccination_Correlation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Correlation Between Nations' GDP and Percent of COVID-19 Vaccination

#### The purpose of this project is to define whether there is a correlation between nation`s GDP (Gross Domestic Product) and the current level of vaccination against COVID-19

**Resources:**</br>
https://ourworldindata.org/grapher/gdp-per-capita-worldbank </br>
https://ourworldindata.org/covid-vaccinations

In [2]:
# Importing necessary libraries
import pandas as pd
import numpy as np
from google.colab import files

In [3]:
#Uploading GDP dataset from the local drive
uploaded = files.upload()

Saving gdp-per-capita-worldbank.csv to gdp-per-capita-worldbank.csv

In [11]:
# Reading dataset into DataFrame object
gdp = pd.read_csv("gdp-per-capita-worldbank.csv")

In [12]:
# GDP DataFrame preview. First 25 rows
gdp.head(25)

        Entity Code  Year  GDP per capita, PPP (constant 2017 international $)
0  Afghanistan  AFG  2002                                        1189.784668
1  Afghanistan  AFG  2003                                        1235.810063
2  Afghanistan  AFG  2004                                        1200.278013
3  Afghanistan  AFG  2005                                        1286.793659
4  Afghanistan  AFG  2006                                        1315.789117

In [13]:
# Removing all years except 2020, the latest one
gdp = gdp[gdp.Year == 2020]

In [14]:
gdp.head()

                          Entity  ... GDP per capita, PPP (constant 2017 international $)
18                   Afghanistan  ...                                        1978.961579
49   Africa Eastern and Southern  ...                                        3387.594670
80    Africa Western and Central  ...                                        4003.158913
111                      Albania  ...                                       13295.410885
142                      Algeria  ...                                       10681.679297

[5 rows x 4 columns]

In [15]:
# Removing unnecessary columns
gdp.drop(columns = ['Code', 'Year'], inplace = True)

In [16]:
gdp.head()

                          Entity  GDP per capita, PPP (constant 2017 international $)
18                   Afghanistan                                        1978.961579
49   Africa Eastern and Southern                                        3387.594670
80    Africa Western and Central                                        4003.158913
111                      Albania                                       13295.410885
142                      Algeria                                       10681.679297

In [45]:
# Renaming columns for better readability and further merging
gdp.rename(columns = {"Entity": "Country", "GDP per capita, PPP (constant 2017 international $)": "GDP"}, inplace = True)

In [46]:
gdp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 224 entries, 18 to 7108
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  224 non-null    object
 1   GDP      224 non-null    float64
dtypes: float64(1), object(1)
memory usage: 5.2+ KB

In [51]:
gdp.head()

                         Country           GDP
18                   Afghanistan   1978.961579
49   Africa Eastern and Southern   3387.594670
80    Africa Western and Central   4003.158913
111                      Albania  13295.410885
142                      Algeria  10681.679297

In [19]:
# Uploading COVID dataset
uploaded = files.upload()

Saving owid-covid-data.csv to owid-covid-data.csv

In [21]:
# Reading Covid dataset into DataFrame object
covid = pd.read_csv("owid-covid-data.csv")

In [23]:
# COVID dataset preview
covid.head()

  iso_code continent  ... excess_mortality excess_mortality_cumulative_per_million
0      AFG      Asia  ...              NaN                                     NaN
1      AFG      Asia  ...              NaN                                     NaN
2      AFG      Asia  ...              NaN                                     NaN
3      AFG      Asia  ...              NaN                                     NaN
4      AFG      Asia  ...              NaN                                     NaN

[5 rows x 65 columns]

In [43]:
# Previewing data about fully vaccinated people, including empty cells
covid.people_vaccinated_per_hundred.value_counts(dropna=False)

NaN      161
63.09      1
54.38      1
57.95      1
54.82      1
68.36      1
7.66       1
68.19      1
64.48      1
64.77      1
67.57      1
67.54      1
13.67      1
25.06      1
70.76      1
35.17      1
66.16      1
63.36      1
59.46      1
22.52      1
77.58      1
18.23      1
75.41      1
64.99      1
43.41      1
40.28      1
75.36      1
21.30      1
78.95      1
60.36      1
42.14      1
68.70      1
76.51      1
95.23      1
38.60      1
53.72      1
66.95      1
57.14      1
54.36      1
70.56      1
49.81      1
47.51      1
37.18      1
Name: people_vaccinated_per_hundred, dtype: int64

As you can see information on vaccinated people is missing for a lot of countries. We will just remove these countries from the analysis later.

In [26]:
# Previewing info on COVID dataset columns
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124199 entries, 0 to 124198
Data columns (total 65 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   iso_code                                 124199 non-null  object
 1   continent                                118567 non-null  object
 2   location                                 124199 non-null  object
 3   date                                     124199 non-null  object
 4   total_cases                              117538 non-null  float64
 5   new_cases                                117534 non-null  float64
 6   new_cases_smoothed                       116520 non-null  float64
 7   total_deaths                             106658 non-null  float64
 8   new_deaths                               106811 non-null  float64
 9   new_deaths_smoothed                      116520 non-null  float64
 10  total_cases_per_million                  116920 non-null  float64
 11  new_cases_per_million                    116916 non-null  float64
 12  new_cases_smoothed_per_million           115907 non-null  float64
 13  total_deaths_per_million                 106053 non-null  float64
 14  new_deaths_per_million                   106206 non-null  float64
 15  new_deaths_smoothed_per_million          115907 non-null  float64
 16  reproduction_rate                        99616 non-null   float64
 17  icu_patients                             15202 non-null   float64
 18  icu_patients_per_million                 15202 non-null   float64
 19  hosp_patients                            17346 non-null   float64
 20  hosp_patients_per_million                17346 non-null   float64
 21  weekly_icu_admissions                    1276 non-null    float64
 22  weekly_icu_admissions_per_million        1276 non-null    float64
 23  weekly_hosp_admissions                   2100 non-null    float64
 24  weekly_hosp_admissions_per_million       2100 non-null    float64
 25  new_tests                                53202 non-null   float64
 26  total_tests                              53319 non-null   float64
 27  total_tests_per_thousand                 53319 non-null   float64
 28  new_tests_per_thousand                   53202 non-null   float64
 29  new_tests_smoothed                       64080 non-null   float64
 30  new_tests_smoothed_per_thousand          64080 non-null   float64
 31  positive_rate                            60174 non-null   float64
 32  tests_per_case                           59533 non-null   float64
 33  tests_units                              66029 non-null   object
 34  total_vaccinations                       29282 non-null   float64
 35  people_vaccinated                        27833 non-null   float64
 36  people_fully_vaccinated                  24718 non-null   float64
 37  total_boosters                           3648 non-null    float64
 38  new_vaccinations                         24284 non-null   float64
 39  new_vaccinations_smoothed                52516 non-null   float64
 40  total_vaccinations_per_hundred           29282 non-null   float64
 41  people_vaccinated_per_hundred            27833 non-null   float64
 42  people_fully_vaccinated_per_hundred      24718 non-null   float64
 43  total_boosters_per_hundred               3648 non-null    float64
 44  new_vaccinations_smoothed_per_million    52516 non-null   float64
 45  stringency_index                         103344 non-null  float64
 46  population                               123325 non-null  float64
 47  population_density                       114721 non-null  float64
 48  median_age                               109489 non-null  float64
 49  aged_65_older                            108275 non-null  float64
 50  aged_70_older                            108890 non-null  float64
 51  gdp_per_capita                           110147 non-null  float64
 52  extreme_poverty                          73731 non-null   float64
 53  cardiovasc_death_rate                    109760 non-null  float64
 54  diabetes_prevalence                      113215 non-null  float64
 55  female_smokers                           85527 non-null   float64
 56  male_smokers                             84287 non-null   float64
 57  handwashing_facilities                   55243 non-null   float64
 58  hospital_beds_per_thousand               99782 non-null   float64
 59  life_expectancy                          117800 non-null  float64
 60  human_development_index                  109851 non-null  float64
 61  excess_mortality_cumulative_absolute     4494 non-null    float64
 62  excess_mortality_cumulative              4494 non-null    float64
 63  excess_mortality                         4494 non-null    float64
 64  excess_mortality_cumulative_per_million  4494 non-null    float64
dtypes: float64(60), object(5)
memory usage: 61.6+ MB

In [27]:
# Converting Date column from string to datetime format
covid.date = pd.to_datetime(covid.date)

In [31]:
# Leaving only the most recent information (the latest date)
covid = covid[covid.date == covid.date.max()]

In [32]:
covid.head()

      iso_code  ... excess_mortality_cumulative_per_million
600        AFG  ...                                     NaN
1212  OWID_AFR  ...                                     NaN
1812       ALB  ...                                     NaN
2412       DZA  ...                                     NaN
3006       AND  ...                                     NaN

[5 rows x 65 columns]

In [34]:
# Counting on how many countries we have data about fully vaccinated people
covid.people_fully_vaccinated_per_hundred.count()

45

It turned out that out of around 250 countries we have data about COVID vaccination only for 45 countries, but it is what it is.

In [37]:
# Creating a separate DataFrame containing only information about vaccinated people.
vac = covid[['location', 'people_fully_vaccinated_per_hundred']]

In [38]:
# Previewing new DataFrame
vac.head()

         location  people_fully_vaccinated_per_hundred
600   Afghanistan                                  NaN
1212       Africa                                 5.03
1812      Albania                                  NaN
2412      Algeria                                  NaN
3006      Andorra                                  NaN

In [39]:
vac.tail()

        location  people_fully_vaccinated_per_hundred
121651   Vietnam                                  NaN
122489     World                                35.95
123044     Yemen                                  NaN
123622    Zambia                                 2.60
124198  Zimbabwe                                16.39

In [47]:
# Renaming columns for better readability and further merging
vac.rename(columns = {"location": "Country", "people_fully_vaccinated_per_hundred": "% Vaccinated"}, inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [50]:
vac.info

          Country  % Vaccinated
600   Afghanistan           NaN
1212       Africa          5.03
1812      Albania           NaN
2412      Algeria           NaN
3006      Andorra           NaN

In [48]:
# Comparing how many countries are in the GDP DataFrame and Vaccination DataFrame
gdp.Country.nunique()

224

In [52]:
vac.Country.nunique()

203

We can see that Vaccination DataFrame contains less countries. Let`s merge both DataFrames so that only the countries present in both of the DataFrames will remain in the output.

In [53]:
# Merging two DataFrame into one
result = pd.merge(gdp, vac, on="Country")

In [55]:
# Previewing resulting DataFrame
result.head(25)

                   Country           GDP  % Vaccinated
0              Afghanistan   1978.961579           NaN
1                  Albania  13295.410885           NaN
2                  Algeria  10681.679297           NaN
3                   Angola   6198.083841           NaN
4      Antigua and Barbuda  17956.315716           NaN
5                Argentina  19686.523659         53.75
6                  Armenia  12592.635368           NaN
7                Australia  48697.837028         55.24
8                  Austria  51935.603862           NaN
9               Azerbaijan  13699.665590           NaN
10                 Bahamas  30764.115967           NaN
11                 Bahrain  40933.352664         64.80
12              Bangladesh   4818.094737         11.23
13                Barbados  12870.042504           NaN
14                 Belarus  19148.175101           NaN
15                 Belgium  48210.033111           NaN
16                  Belize   6119.887687           NaN
17                   Benin   3323.144451           NaN
18                  Bhutan  10909.100169           NaN
19                 Bolivia   7931.754309           NaN
20  Bosnia and Herzegovina  14339.831181           NaN
21                Botswana  16040.008473           NaN
22                  Brazil  14063.982505           NaN
23                  Brunei  62243.583152           NaN
24                Bulgaria  22383.805544         20.07

In [56]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 178 entries, 0 to 177
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       178 non-null    object
 1   GDP           178 non-null    float64
 2   % Vaccinated  39 non-null     float64
dtypes: float64(2), object(1)
memory usage: 5.6+ KB

In [58]:
# Let`s remove those countries that have at least one column, either GDP or % Vaccinated empty, because it doesn`t make sense to calculate correlation on these rows
result.dropna(inplace = True)

In [59]:
result.head()

       Country           GDP  % Vaccinated
5    Argentina  19686.523659         53.75
7    Australia  48697.837028         55.24
11     Bahrain  40933.352664         64.80
12  Bangladesh   4818.094737         11.23
24    Bulgaria  22383.805544         20.07

In [60]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39 entries, 5 to 177
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       39 non-null     object
 1   GDP           39 non-null     float64
 2   % Vaccinated  39 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.2+ KB

We see that we have only 39 countries remaining that have info both on GDP and %Vaccinated. However, the theory says that sample size of more than 25 items is enough to calculate correlation.

In [61]:
# Correlation between GDP and % of Fully Vaccinated people in countries
print("Correlation between nation`s GDP and % of Vaccinated people is ", result.GDP.corr(result['% Vaccinated']))

Correlation between nation`s GDP and % of Vaccinated people is  0.7207865452418307

As we can see there is a strong correlation between nation`s GDP and % of fully vaccinated people at the moment.

In [64]:
# Printing all the countries just for visibility
result.head(39)

                 Country           GDP  % Vaccinated
5              Argentina  19686.523659         53.75
7              Australia  48697.837028         55.24
11               Bahrain  40933.352664         64.80
12            Bangladesh   4818.094737         11.23
24              Bulgaria  22383.805544         20.07
29                Canada  45856.625626         72.72
42               Czechia  38319.337663         56.20
55        European Union  41504.159149         64.12
57               Finland  47260.800458         66.75
64                Greece  27287.083401         60.76
72             Hong Kong  56153.971499         57.39
75                 India   6118.357330         20.00
76             Indonesia  11444.960683         22.49
80                Israel  38341.307570         64.83
81                 Italy  38992.148381         69.92
83                Jordan   9816.554530         33.19
84            Kazakhstan  25337.152399         37.37
88            Kyrgyzstan   4706.570238         10.33
90                Latvia  29932.493910         49.90
91               Lebanon  11649.050112         20.86
95             Lithuania  36732.034744         61.11
97                 Macao  54797.929837         49.43
100             Malaysia  26435.171571         67.57
107              Moldova  12324.736279         20.57
109           Montenegro  18278.730792         36.75
120        North America  58752.154068         49.56
125               Panama  25381.848447         53.33
134               Russia  26456.387938         32.40
141         Saudi Arabia  44328.183911         58.41
148             Slovenia  36547.738956         51.22
154            Sri Lanka  12536.941756         59.17
164  Trinidad and Tobago  23728.158646         40.24
166               Turkey  28384.987785         55.53
168              Ukraine  12377.017293         14.88
170        United States  60235.728492         56.17
171              Uruguay  21608.430271         74.73
175                World  16194.040310         35.95
176               Zambia   3270.035112          2.60
177             Zimbabwe   2744.690758         16.39

## **Conclusion:** Though a strong correlation was found between nations' GDP and % of fully vaccinated people from COVID-19, it doesn`t mean that there is a direct dependency. My bet is that there is a variable or a number of vaiables, upon which both of these figures depend. I dare assume that the level of education is among those variables.